[user]
	name = thomasstxyz
	email = thomas@thomasst.xyz
[credential]
	helper = store
[init]
	defaultBranch = main

[pager]
    # diff-highlight is script provided by git that shows word-by-word diff
    log  = perl /usr/share/git/diff-highlight/diff-highlight | less
    show = perl /usr/share/git/diff-highlight/diff-highlight | less
    diff = perl /usr/share/git/diff-highlight/diff-highlight | less
